aggdraw==1.3.18.post0
atomicwrites==1.4.1
attrs==23.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
fuzzywuzzy==0.18.0
greenlet==3.0.3
haversine==2.8.1
idna==3.7
joblib==1.4.2
kaleido==0.2.1
nltk==3.9.1
numpy==2.1.0
pathlib_mate==1.3.2
pillow==10.4.0
prettytable==3.10.0
python-dotenv==1.0.1
regex==2024.7.24
requests==2.32.3
SQLAlchemy==2.0.31
sqlalchemy_mate==2.0.0.0
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
uszipcode==1.0.1
visualkeras==0.1.3
wcwidth==0.2.13
